# {{ ansible_managed }}

# Never forward addresses in the non-routed address spaces.
bogus-priv

# Enable DNSSEC validation and caching:
# (Requires dnsmasq-dnssec package to be installed)
conf-file=/usr/share/dnsmasq/trust-anchors.conf
dnssec

# Don't read /etc/resolv.conf or any other file
no-resolv

# Default is max 150 concurrent requests
dns-forward-max={{ dnsmasq_forward_max | default(1000) }}

# Add other name servers here, with domain specs if they are for
# non-public domains.
server=//{{ internal_ns }}
server=/{{ internal_domain }}/{{ internal_ns }}
rev-server={{ internal_subnet_ipv4 }},{{ internal_ns }}
rev-server={{ internal_subnet_ipv6 }},{{ internal_ns }}

{% for ns in external_ns %}
server={{ ns }}
{% endfor %}

{% for host, address in dnsmasq_host_records.items() %}
host-record={{ host }},{{ host }}.{{ internal_domain }},{{ address }}
{% endfor %}

{% for cname, target in dnsmasq_cnames.items() %}
cname={{ cname }},{{ cname }}.{{ internal_domain }},{{ target }}
{% endfor %}

# Include all files in a directory which end in .conf
conf-dir=/etc/dnsmasq.d/,*.conf

# For debugging purposes, log each DNS query as it passes through
# dnsmasq.
#log-queries

